<div
  style="border: 2px solid; margin: auto; margin-top: 300px; padding: 25px"
  class="mycalc"
>
  <input disabled value="{{ toshow }}" type="text" />

  <select style="margin-left: 150px"  name="tipocalcolatrice"(change)="setValue($event)">
    <option *ngFor="let tipocalcolatrice of listaCalcolatrici" value={{tipocalcolatrice}}>{{tipocalcolatrice}}</option>  
  </select>

  <div class="all-btn">

    <div class="contenitore-operatori-scientifica" *ngIf="typecalc =='Bambini'">

      <button class="button-bambini" (click)="write('1')"> <img src="{{numeribambini[1]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('2')"> <img src="{{numeribambini[2]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('3')"> <img src="{{numeribambini[3]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('*')"> <img src="{{numeribambini[12]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('/')"> <img src="{{numeribambini[13]}}" class="bambini-image"> </button>
    
    
      <button class="button-bambini" (click)="write('4')"> <img src="{{numeribambini[4]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('5')"> <img src="{{numeribambini[5]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('6')"> <img src="{{numeribambini[6]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('+')"> <img src="{{numeribambini[10]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('-')"> <img src="{{numeribambini[11]}}" class="bambini-image"> </button>
    
      <button class="button-bambini" (click)="write('7')"> <img src="{{numeribambini[7]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('8')"> <img src="{{numeribambini[8]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('9')"> <img src="{{numeribambini[9]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="write('0')"> <img src="{{numeribambini[0]}}" class="bambini-image"> </button>
      <button class="button-bambini" (click)="equals()">   <img src="{{numeribambini[14]}}" class="bambini-image"> </button>
    
     </div>

    <div class="all-btn-number"  *ngIf="typecalc !=='Bambini'">
      <button (click)="write('1')">1</button>
      <button (click)="write('2')">2</button>
      <button (click)="write('3')">3</button>
      <button (click)="write('4')">4</button> 
      <button (click)="write('5')">5</button>
      <button (click)="write('6')">6</button>
      <button (click)="write('7')">7</button>
      <button (click)="write('8')">8</button>
      <button (click)="write('9')">9</button>
      <button (click)="write('0')">0</button>
      <div class="btn-extra">
        <button (click)="write('.')">.</button>
        <button (click)="back()">back</button>
      </div>
    </div>
    <div class="all-btn-sign" *ngIf="typecalc !=='Bambini'">
      <button (click)="write('+')">+</button>
      <button (click)="write('-')">-</button>
      <button (click)="write('*')">*</button>
      <button (click)="write('/')">/</button>
      <button (click)="percentage()">%</button>
    </div>
    <div *ngIf="typecalc =='Scientifica'" class="all-btn-sign">
      <button (click)="write('(')">(</button>
      <button (click)="write(')')">)</button>
      <button (click)="squareroots()">√</button>
      <button (click)="square()">x²</button>
      <button (click)="pi()">π</button>
    </div>

  </div>
  <div class="btn-clear-equals">
    <button (click)="clear()">C</button>
    <button (click)="equals()">=</button>
  </div>
</div>
