<div
  style="border: 2px solid; margin: auto; margin-top: 300px; padding: 25px"
  class="mycalc"
>
  <input disabled value="{{ toshow }}" type="text" />


  <div *ngFor="let nome of listaNomi">{{nome}}</div>
  <div *ngFor="let calcolatrice of listaCalcolatrici">{{calcolatrice}}</div>
  
  <select name="TipoCalcolatrice" (change)="setValue($event)">
    <option *ngFor="let calcolatrice of listaCalcolatrici" value={{calcolatrice}}>{{calcolatrice}}</option>
  </select>


  <div *ngFor="let calcolatrice of listaCalcolatrici">
    
    <div *ngIf="calcolatrice == 'Scientifica'">Scrivo del testo solo se calcolatrice è scientifica</div>

  </div>
  




  <button style="margin-left: 200px ;" (click) ="change()" >{{typecalc}}</button>
  <div class="all-btn">
    <div class="all-btn-number">
      <button (click)="write('1')">1</button>
      <button (click)="write('2')">2</button>
      <button (click)="write('3')">3</button>
      <button (click)="write('4')">4</button>
      <button (click)="write('5')">5</button>
      <button (click)="write('6')">6</button>
      <button (click)="write('7')">7</button>
      <button (click)="write('8')">8</button>
      <button (click)="write('9')">9</button>
      <button (click)="write('0')">0</button>
      <div class="btn-extra">
        <button (click)="write('.')">.</button>
        <button (click)="back()">back</button>
      </div>
    </div>
    <div class="all-btn-sign">
      <button (click)="write('+')">+</button>
      <button (click)="write('-')">-</button>
      <button (click)="write('*')">*</button>
      <button (click)="write('/')">/</button>
      <button (click)="percentage()">%</button>
    </div>
    <div
     *ngIf="!valid" class="all-btn-sign">
    <button (click)="write('(')">(</button>
     <button (click)="write(')')">)</button>
     <button  (click)="squareroots()">√</button>
     <button (click)="square()">x²</button>
     <button (click)="pi()">π</button>
 </div>
    <div>
    </div>
  </div>
  <div class="btn-clear-equals">
    <button (click)="clear()">C</button>
    <button (click)="equals()">=</button>
  </div>
</div>
